/**
 * Simple theme for the animations.
 */

body.animation {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

div.formula {
    display: inline-block;
    min-width: 200px;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1em;
}

span.sum-number {
    margin: auto;
    text-align: center;
    color: #3aa0e4;
}